{% extends 'layout.html' %}

{% block body %}

{% for product in products %}
	<ul>
		<b> product Name </b> : {{ product['productName'] }} <br> 
		<b> product Description </b> : {{ product['description'] }} <br>
		<b> product Price </b> : $ {{ product['price'] }} <br>
		{% if session['c_type'] == 'buyer' %}
		<b> product seller </b> : {{ product['sellerName'] }} <br>
		{% endif %}
		<form  action='/addtocart' method="POST">
			
			<input type="hidden" name="id" value="{{ product['_id'] }}">
			<input type="submit" value="add to cart">
		</form>
	</ul>
{% endfor %}

<a href="/logout">Log Out</a><br><br>
<a href="/cart">Go to cart</a>
{% endblock body %}















